body{
    background-color: lightgray;
}

.header{
    /*Image from https://www.freepik.com/free-photo/book-library-with-open-textbook_3737798.htm#query=book%20background&position=8&from_view=search&track=ais on Freepik*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(images/bookbackground.jpg);
    background-position: center;
    background-size: cover;
}

.bodyContent{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 2%;
}

.employerContent{

}
.beginDateContent{

}
.endDateContent{

}
.dutiesContent{

}
.leavingReasonsContent{

}
.experienceContent{

}