body{
    background-color: lightgray;
}

.bodyContent{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 2%;
}

.employerContent{

}
.beginDateContent{

}
.endDateContent{

}
.dutiesContent{

}
.leavingReasonsContent{

}
.experienceContent{

}