.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: lightgray;
}

.header{
  /*Image from https://www.freepik.com/free-photo/book-library-with-open-textbook_3737798.htm#query=book%20background&position=8&from_view=search&track=ais on Freepik*/
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(images/bookbackground.jpg);
  background-position: center;
  background-size: cover;
}

.bodyContent{
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  padding: 2%;
}

.employerContent{

}
.beginDateContent{

}
.endDateContent{

}
.dutiesContent{

}
.leavingReasonsContent{

}
.experienceContent{

}